@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Krona+One&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --roxo: #5D12D2;
    --rosa: pink;
    --branco: #f5f5f5;
    --inter-font: 'Inter', sans-serif;
    --krona-font: 'Krona One', sans-serif;
    --lobster-font: 'Lobster', sans-serif;

    --roxo-topo-svg: rgb(58, 53, 126);
    --azul-final-svg: rgb(62, 103, 191);
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: var(--branco); 
    background-image: url(img/hero.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size:contain;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    padding: 0 2.5%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--branco);
    font-family: var(--lobster-font);
    font-size: 30px;
}

.nav {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .14);
    border-radius: 25px;
    padding: 1.25rem 2rem;
    position: fixed center;
    z-index: 9;
}

header ul {
    display: flex;
    gap: 1rem;
}

header li a {
    color: var(--branco);
    font-family: var(--inter-font);
    font-size: 20px;
}

header li a:hover {
    color: white;
    text-shadow: 0 0 4px white;
}

.menu-hamb {
    display: none;
}

/* dark mode button*/

/* body.dark {
    background: #000000;
}
  
.checkbox {
opacity: 0;
position: absolute;
}

.label {
background-color: var(--branco);
border-radius: 50px;
cursor: pointer;
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px;
position: relative;
height: 26px;
width: 50px;
transform: scale(1.5);

}

.label .ball {
background-color: var(--roxo-topo-svg);
border-radius: 50%;
position: absolute;
top: 2px;
left: 2px;
height: 22px;
width: 22px;
transform: translateX(0px);
transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
transform: translateX(24px);
}

.fa-moon, .fa-sun {
color: var(--azul-final-svg);
} */

/* Main */

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 2.5%;
}

.apresentacao {
    width: 55%;
    min-width: 600px;
    color: var(--branco);
    font-family: var(--krona-font );
    padding-bottom: 10rem;
    margin-right: auto;
}

.apresentacao h1 {
    font-size: 26px;
}

.apresentacao span {
    font-size: 60px;
}

.apresentacao strong {
    color: var(--rosa);
    font-size: 60px;
}

main img {
    width: 40%;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

/* sobre mim */

#sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.5%;
}

#sobre img {
    width: 35%;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

.sobre-mim {
    font-size: 18px;
    font-family: var(--inter-font);
    background: linear-gradient(135deg, var(--roxo-topo-svg), var(--azul-final-svg));
    color: var(--branco);
    width: 60%;
    border-radius: 14px;
    padding: 2rem;
}

.sobre-mim h2 {
    margin-bottom: 10px;
    border-bottom: 6px solid var(--branco);
    width: 200px;
}

.destaque {
    color: var(--rosa);
    font-size: 24px;
}

/* serviços */

#servicos {
    background-color: var(--roxo-topo-svg);
    padding: 2rem 2.5%;
}

#servicos h2 {
    color: var(--rosa);
    font-family: var(--krona-font);
    font-size: 40px;
    margin: 0 2.5%;
}

.servicos-h2 {
    background-color: var(--azul-final-svg);
    height: 1rem;
    width: 15.5rem;
    margin: -.7rem 2% 2rem;
}

.cards-servicos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-servicos {
    display: flex;
    flex-direction: column;
    width: 21%;
    min-width: 300px;
    height: 200px;
    padding: 1rem;
    border-radius: 12px;
    background-color: var(--rosa);
}

.servicos-titulo {
    color: var(--roxo-topo-svg);
    font-size: 24px;
}

.card-texto {
    color: var(--preto);
    font-size: 20px;
    text-align: center;
}

.servicos-texto {
    padding: 2rem 2.5%;
    color: var(--branco);
    font-size: 20px;
    text-align: center;
}

/* Preços e pacotes */

#precos-pacotes {
    text-align: center;
    margin-top: 2em;
}

#precos-pacotes h2 {
    color: var(--roxo-topo-svg); 
    font-family: var(--krona-font);
    font-size: 40px;
}

.pacotes-h2 {
    background-color: var(--rosa);
    height: 1rem;
    width: 32rem;
    margin: -.7rem auto 2rem;
}

.pacotes {
    padding: 1rem 2.5%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center ;
}

.card-pacote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 380px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin: 1rem 0;
}

.top_card-pacote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--roxo-topo-svg);
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0 0;
    padding: 2rem 2rem;
    color: var(--branco);
    font-family: var(--krona-font);
}

.top_card-pacote h4 {
    font-size: 24px;
}

.preco {
    font-size: 38px;
    font-weight: bold;
}

.lista_card-pacote {
    padding: 2rem;
    text-align: justify;
}

.lista_card-pacote li {
    margin: 1rem 0;
    list-style: inside;
}

.button_card-pacote {
    background-color: lightgray;
    margin-bottom: 2rem;
    padding: .75rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.button_card-pacote:hover {
    background-color: var(--rosa);
    padding: .8rem;
    font-size: 18px;
    transition: .5s;
}

/* Depoimentos */

#depoimentos {
    padding: 2rem 2.5%;
    background-color: var(--azul-final-svg);
}

#depoimentos h2 {
    color: var(--rosa); 
    font-family: var(--krona-font);
    font-size: 40px;
}

.depoimentos-h2 {
    background-color: var(--roxo-topo-svg);
    height: 1rem;
    width: 22.3rem;
    margin: -.7rem 0;
}

.depoimentos {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.card-depoimentos {
    width: 20%;
    min-width: 300px;
    text-align: center;
    margin-top: 2rem;
}

.img-depoimento {
    border-radius: 50%;
    width: 100px;
}

.card-depoimentos h5 {
    font-size: 24px;;
}

.estrelas {
    color: var(--rosa);
}

.card-depoimentos p {
    margin-top: .5rem;
}

/* contato */

#contato {
    background: var(--azul-final-svg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}

.contato-card {
    background-color: var(--roxo-topo-svg);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    border-radius: 12px;
    padding: 3rem;
    text-align: center;
}

.contato-titulo {
    color: var(--rosa); 
    font-family: var(--lobster-font);
    font-size: 60px;
    text-align: center;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input label {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 25px;
    color: var(--rosa);
    font-family: var(--inter-font);
}

.input input {
    font-size: 20px;
    height: 40px;
    width: 500px;
}

.contato-card button {
    margin: 4rem auto 0 auto;
    color: var(--roxo-topo-svg);
    font-size: 20px;
    background-color: var(--rosa);
    padding: .75rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

/* galeria de fotos */

#fotos h2 {
    color: var(--rosa); 
    font-family: var(--lobster-font);
    font-size: 60px;
    margin-top: 1em;
    text-align: center;
}

.aulas {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.aulas iframe {
    padding: 10px;
}

/* blog */

#blog h2 {
    color: var(--rosa); 
    font-family: var(--lobster-font);
    font-size: 60px;
    margin-top: 1em;
    text-align: center;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    padding: 2rem 2.5%;
    justify-content: space-around;
    font-family: var(--inter-font);
}

.blog {
    width: 25%;
    min-width: 450px;
    padding: 2rem;
    border-radius: 12px;
    border: 2px solid var(--rosa);
    background-color: var(--azul-final-svg);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog img {
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.blog h3 {
    margin: 1rem 0;
}

.blogs span {
    color: var(--rosa);
    text-transform: uppercase;
}

.blog p {
    margin: 1rem 0;
}

.blog button {
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    background-color: lightgray;
}

.blog button:hover {
    background-color: var(--rosa);
    padding: .8rem;
    font-size: 18px;
    transition: .5s;
}

/* footer */

.footer {
    background-image: url(img/footer.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 210px 0px 30px 0px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo-footer {
    display: flex;
    color: var(--branco);
    font-family: var(--lobster-font);
    margin-top: 10px;
    font-size: 30px;
    justify-content: center;
}

.logo-footer h1 { 
    margin-left: 10px;   
}

.logo-footer i {
    margin-top: 20px;
}

.footer-conteudo p {
    text-align: center;
    font-family: var(--inter-font);
    color: var(--branco);
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.sociais {
    display: flex;
    justify-content: center;
}

.sociais i {
    color: var(--branco);
    padding: 10px;
    font-size: 25px;
}

.politica {
    position: relative;
    text-align: center;
    color: white;
}

.politica a {
    color: white;
    text-decoration: underline;
}

/* Utilitários */

.mt-2 {
    margin-top: 2rem;
}

/* responsividade */

@media screen and (max-width: 1088px) {
    main img {
        width: 80%;
    }
}

@media screen and (max-width: 1023px) {
    body {
        background-size: cover;
    }
    .menu-hamb {
        display: block;
    }
    .nav {
        display: none;
    }
    .nav-mobile {
        position: absolute;
        display: block;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 2px 2px 15px rgba(0, 0, 0, .14);
        border-radius: 25px;
        top: 6rem;
        right: 0;
        padding: 2rem;
    }
    .nav-mobile ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }
    .nav-mobile ul li a {
        font-size: 32px;
    }
    main img {
        width: 70%;
    }
    .apresentacao {
        padding-bottom: 0;
    } 
    #sobre {
        flex-direction: column-reverse;
    }
    .sobre-mim {
        width: 80%;
    }
    #sobre img {
        margin-top: 2rem;
        width: 80%;
    } 
}

@media screen and (max-width: 768px) {
    .aulas {
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 600px) {
    .apresentacao {
        width: 90%;
        text-align: center;
        min-width: 0;
    }
    .apresentacao h1 {
        font-size: 20px;
    }
    .apresentacao span, 
    .apresentacao strong {
        font-size: 35px;
    }
    .pacotes-h2 {
        width: 80%;
    }
    .contato-card {
        width: 90%;
    }
    .input input {
        width: 100%;
    }
    .blog {
        width: 90%;
        min-width: 0;
    }
}

@media screen and (max-width: 425px) {
    #depoimentos h2 {
        font-size: 30px;
    }
    .depoimentos-h2 {
        width: 80%;
    }
}